services:
  rabbitmq:
    image: rabbitmq:4.1-management
    container_name: rp5-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
      - "1883:1883"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    command: >
      bash -c "rabbitmq-plugins enable rabbitmq_mqtt && rabbitmq-server"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  zigbee2mqtt:
    image: ghcr.io/koenkk/zigbee2mqtt
    container_name: rp5-zigbee2mqtt
    restart: unless-stopped
    ports:
      - "8080:8080"
    devices:
      - "${ZIGBEE_ADAPTER}:/dev/ttyACM0"
    volumes:
      - ./zigbee2mqtt/configuration.yaml:/app/data/configuration.yaml:ro
      - ./volumes/zigbee2mqtt-data:/app/data
    environment:
      - TZ=Europe/Amsterdam
    depends_on:
      rabbitmq:
        condition: service_healthy

  influxdb:
    image: influxdb:2.7
    container_name: rp5-influxdb
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: ${INFLUXDB_ADMIN_USER}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${INFLUXDB_ADMIN_PASSWORD}
      DOCKER_INFLUXDB_INIT_ORG: ${INFLUXDB_ORG}
      DOCKER_INFLUXDB_INIT_BUCKET: ${INFLUXDB_BUCKET}
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUXDB_ADMIN_TOKEN}
    volumes:
      - ./volumes/influxdb-data:/var/lib/influxdb2
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  api:
    image: ghcr.io/cust0me/rp5-zigbee-api:master
    container_name: rp5-api
    ports:
      - "${API_PORT}:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      MqttBroker__Host: rabbitmq
      MqttBroker__Port: 1883
      MqttBroker__UseTls: "false"
      MqttBroker__ClientId: "rp5-zigbee-api"
      MqttBroker__Username: ${RABBITMQ_USER}
      MqttBroker__Password: ${RABBITMQ_PASSWORD}
      MqttBroker__TelemetryTopics: "[\"zigbee2mqtt/+\"]"
      InfluxDB__Host: http://influxdb:8086
      InfluxDB__Token: ${INFLUXDB_ADMIN_TOKEN}
      InfluxDB__OrgId: ${INFLUXDB_ORG}
      InfluxDB__Bucket: ${INFLUXDB_BUCKET}